/*
Semi-circle Gauge similar to speedometer

<div class="gauge" style="--value: 0.3; --color: red; --scale-percent: 200%">
    <div class="gauge-bg"></div>
    <div class="gauge-center"></div>
    <div class="gauge-needle"></div>
</div>
 */
 div.gauge {
    --color: white;
    --value: 0;
    --scale-percent: 100%;
    font-size: var(--scale-percent);
    width: 2em;
    height: 1em; /* Half the width */
}
div.gauge div.gauge-bg {
    display: block;
    width: 2em;
    height: 1em; /* Half the width */
    background-color: var(--color);
    border-top-left-radius: 1.2em; /* Width + Border Thickness */
    border-top-right-radius: 1.2em; /* Width + Border Thickness */
    border: 0.2em solid black;
    border-bottom: 0em; /* Get rid of bottom border since we don't want it have the same thickness */
}
div.gauge div.gauge-center {
    display: block;
    position: relative;
    top: -0.2em;
    left: 0.9em;
    z-index: 2;
    width: 0.2em;
    height: 0.2em;

    background-color: black;
    border-radius: 50%;
}
div.gauge div.gauge-needle {
    display: block;
    position: relative;
    top: -0.375em;
    left: 0.125em;
    z-index: 1;
    width: 1.75em;
    height: 0.15em;

    /* background-color: gray; */
    background: linear-gradient(90deg, gray 0.9em, rgba(0, 0, 0, 0) 0.9em, rgba(0, 0, 0, 0));
    border-radius: 0.2em;

    transform: rotate(calc(180deg * var(--value)));
}
