<link rel="stylesheet" href="../static/css/homestyle.css">

{% extends 'base.html' %}
{% block title %}Admin DashBoard{% endblock %}
{% block body %}

    {% include 'flashmessage.html' %}
    <div class="text-center">
        <h2>Welcome to Solar Offset Admin DashBoard: {{ adminname }}</h2>
    </div>
    <div class="position-relative overflow-hidden m-md-3 text-center">
        <div class="col-md-6  mx-auto mt-5">

            <table class="table table-striped table-hover table-bordered table-responsive"
                   style="min-height: 20vh; max-width: 90%">
                <thead>
                <tr>
                    <th scope="col">User Type</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            {{ user["user_type"] }}
                        </td>
                        <td>{{ user["id"] }}</td>
                        <td>{{ user["email_username"] }}</td>
                        <td>
                            <div style=" display: flex;align-items: center;">
                                <form action="/delete_user" method="post" style="margin-right: 3%">
                                    <input type="hidden" name="user_id" value="{{ user['id'] }}">
                                    <button class="btn btn-success" type="submit">Delete</button>

                                </form>
                                {% if user["id"] in user_status_list %}
                                    <form action="/unflag-user" method="post">
                                        <input type="hidden" name="user_id" value="{{ user['id'] }}">
                                        <button class="btn btn-outline-success" type="submit">Unflag</button>
                                    </form>
                                {% else %}
                                    <form action="/flag-user" method="post">
                                        <input type="hidden" name="user_id" value="{{ user['id'] }}">
                                        <button class="btn btn-outline-success" type="submit">Flag</button>
                                    </form>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
{% endblock %}