{% extends 'base.html' %}

{% block title %}Admin DashBoard{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminstyle.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static',filename='js/users/admin/admin.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/he@1.2.0/he.min.js"></script>
    <script>
        var tableData = [];
        var table = document.getElementById("admin-table");
        var rows = table.getElementsByTagName("tbody")[0].getElementsByTagName("tr");

        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            var rowData = {};
            var cells = row.getElementsByTagName("td");
            rowData.user_type = cells[0].textContent.trim();
            rowData.id = cells[1].textContent.trim();
            rowData.email_username = cells[2].textContent.trim();
            rowData.action = cells[3].innerHTML.trim();
            rowData.is_suspended = cells[4].textContent.trim();
            tableData.push(rowData);
        }


        var table = new Tabulator("#admin-table", {
            layout: "fitColumns",
            pagination: "local",
            paginationSize: 10,
            columns: [
                {
                    title: "User Type",
                    field: "user_type",
                    headerFilter: true,
                    headerFilterPlaceholder: "Search...",
                    headerFilterPlaceholderParsed: true,
                    formatter: actionFormatter
                },
                {title: "User ID", field: "id", headerFilter: true, headerFilterPlaceholder: "Search...",},
                {title: "Email", field: "email_username", headerFilter: true, headerFilterPlaceholder: "Search...",},
                {
                    title: "Action",
                    field: "action",
                    headerFilter: false,
                    headerSort: false,
                    formatter: actionFormatter,
                    width: 200
                },
                {
                    title: "Suspend Message",
                    field: "is_suspended",
                    headerFilter: true,
                    headerFilterPlaceholder: "Search...",
                }
            ]
        });

        function actionFormatter(cell) {
            return cell.getValue();
        }

        table.setData(tableData);
        document.getElementById("apply-filter").addEventListener("click", function () {
            var column = document.getElementById("filter-column").value;
            var type = document.getElementById("filter-type").value;
            var value = document.getElementById("filter-value").value;

            if (column && type && value) {
                if (column === "user_type") {
                    if (type === "=") {
                        table.setFilter(function (data) {
                            var userType = he.decode(data.user_type.trim());
                            return userType === value;
                        });
                    } else if (type === "!=") {
                        table.setFilter(function (data) {
                            var userType = he.decode(data.user_type.trim());
                            return userType !== value;
                        });
                    }
                } else {
                    table.setFilter(column, type, value);
                }
            }
        });

        document.getElementById("clear-filter").addEventListener("click", function () {
            table.clearFilter();
            document.getElementById("filter-column").value = "Select Column";
            document.getElementById("filter-type").value = "=";
            document.getElementById("filter-value").value = "";
        });
    </script>

{% endblock %}
{% block body %}

    {% include 'flashmessage.html' %}
    <div class="text-center">
        <h2>Welcome to Solar Offset Admin DashBoard: {{ g.user.name }}</h2>
    </div>

    <!-- Suspend Modal Box-->
    <div class="modal fade" id="suspendModalBox" tabindex="-1" role="dialog" aria-labelledby="suspendModalBoxTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="suspendModalBoxTitle">Suspend User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/is-suspend-user" method="post">
                        <div class="form-group">
                            <input type="hidden" name="user_id">
                            <label>Enter reason for the suspension: </label>
                            <br>
                            <textarea name="suspend_message" rows="8" cols="50" required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div id="table-controls" class="position-relative overflow-hidden m-md-3 text-center">
        <label for="filter-column">Column:</label>
        <select id="filter-column">
            <option value="">Select Column</option>
            <option value="user_type">User Type</option>
            <option value="id">User ID</option>
            <option value="email_username">Email</option>
        </select>
        <label for="filter-type">Type:</label>
        <select id="filter-type">
            <option value="=">=</option>
            <option value="!=">!=</option>
        </select>
        <label for="filter-value">Value:</label>
        <input type="text" id="filter-value">

        <button id="apply-filter" class="btn btn-success">Apply Filter</button>
        <button id="clear-filter" class="btn btn-outline-success">Clear Filter</button>
    </div>

    <div class="position-relative overflow-hidden m-md-3 text-center">
        <div class="col-md-6  mx-auto mt-5">

            <table class="!table !table-striped !table-hover !table-bordered !table-responsive" id="admin-table"
                   style="min-height: 20vh; min-width: 120%">
                <thead>
                <tr>
                    <th scope="col">User Type</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                    <th scope="col">Suspend Message</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            {{ user["user_type"] }}
                        </td>
                        <td>{{ user["id"] }}</td>
                        <td>{{ user["email_username"] }}</td>
                        <td>
                            <div style=" display: flex;align-items: center;">
                                <form action="/delete_user" method="post" style="margin-right: 3%">
                                    <input type="hidden" name="user_id" value="{{ user['id'] }}">
                                    <button class="btn btn-success" type="submit">Delete</button>

                                </form>
                                {% if user['is_suspended'] !="-" %}
                                    <form action="/is-suspend-user" method="post">
                                        <input type="hidden" name="user_id" value="{{ user['id'] }}">
                                        <button class="btn btn-outline-success" type="submit">UnSuspend</button>
                                    </form>
                                {% else %}

                                    <button class="btn btn-outline-success suspend-btn" data-toggle="modal"
                                            data-target="#suspendModalBox" data-userid="{{ user['id'] }}"
                                            type="button">Suspend
                                    </button>

                                {% endif %}
                            </div>
                        </td>
                        <td>
                            {{ user['is_suspended'] }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}