
/* Style Links in Base Template Navbar */
ul.nav a {
    color: inherit;
}

/* Ensure that background is transparent
    Used for gradient on Page title in header */
.gradient-text {
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;
}


/* Display main content is a fix-width, centered container */
.main-content-centered {
    max-width: 50em;
    min-width: 20em;
    margin: 1em auto;
    padding: 1em;
}


/* Style "Back" button in pages */
a.lnk-back {
    display: block;
    width: fit-content;
    color: inherit;
    margin-top: 0.5em;
    padding: 0.2em 0.5em;
    border: 0.1em solid;
    border-radius: 0.5em;
}

.text-font{
    font-family: 'Times New Roman';
    font-size: 12px;
}

.button{
    border-radius: 10px;
    height: 30px;
    width: 50px;
}

.form-control{
    border-bottom-color: rgba(0,0,0,.42);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}

.text-center {
    text-align: center;
}

.fit-tight {
    width: fit-content;
}

ul.list-inline {
    margin-top: 1em;
}

ul.list-inline > li {
    display: inline-block;
    margin-top: 0.3em;
}

ul.no-bullet {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.vgap-1 > li + li {
    margin-top: 1em;
}

li.icon-badge {
    border: 0.1em solid;
    border-radius: 1em;
    padding: 0.3em 0.5em;
    margin: 0.2em;
}

li.icon-badge > i {
    margin-right: 0.3em;

}

hr.tight {
    margin: 0em;
    padding: 0em;
}

.framed {
    border: 0.1em solid;
    padding: 0.5em;
}

.framed-rounded {
    border: 0.1em solid;
    border-radius: 1em;
    padding: 0.5em;
}