<!DOCTYPE html>
<html>
<head>
    <title>Solar Offset - {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_base.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <meta>
</head>
<body>
<header>
    <a href="/" style="text-decoration: none; color: black">Solar Offset</a>
    <button onclick="location.href='/login'" class="btn btn-success">Login</button>
    <button onclick="location.href='/register'" class="btn btn-outline-success">Register</button>
</header>
<main style="height: 90vh">{% block body %}{% endblock %}</main>
<footer></footer>
<script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>