<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<script src="../static/js/users/householders/householderdashboard.js"></script>
{% with msg = get_flashed_messages(with_categories=true) %}
    {% if msg %}
        {% for category, message in msg %}
            <div class="alert alert-{{ category }} alert-dismissible fade show mt-2 text-center" role="alert"
                 id="flash-messages">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
