<!-- Import Section -->
<link rel="stylesheet" href="../static/css/homestyle.css">

{% extends 'base.html' %}

<!-- Title Section -->
{% block title %}Home{% endblock %}

<!-- Body Section -->
{% block body %}

    <div class="">
        <!--- Main Marketing Banner with donation button --->
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light main-banner">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-3 gradient-text"
                    style="background-image: linear-gradient(90deg, rgb(255, 200, 50) 0%, rgb(240, 100, 0) 100%); font-size: xxx-large; font-weight: 400 !important;">
                    Power a Brighter Future</h1>
                <p class="gradient-text"
                   style="background-image: linear-gradient(90deg, white 0%, mediumseagreen 100%); font-weight: 300 !important; font-size: x-large;">
                    Shine a light on sustainability! Donate $XX for solar energy and join the
                    fight
                    against climate change.
                    Reduce your carbon footprint by XX tons annually.</p>
                <a class="btn btn-outline-warning px-md-5" href="#">Reduce Your Footprint</a>
            </div>
        </div>
    </div>


    <!--- Heat Map Carousel Section -->
    <div id="carouselFade" class="carousel p-3 p-md-5 m-md-3 bg-light rounded" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4">
                        <br>
                        <h2 class="display-4">Direct Normal Irradiation Map. <span class="text-muted"
                                                                                   style="font-size: xx-large"><br>Find your ideal solar location.</span>
                        </h2>
                        <br>
                        <p class="gradient-text"
                           style="font-size: x-large; background-image: linear-gradient(90deg, rgb(255, 200, 50) 0%, rgb(240, 100, 0) 100%);">
                            Save time and resources by using DNI maps to pinpoint strong solar power potential
                            areas.</p>
                    </div>
                    <div class="col-md-8 carousel-image">
                        <img class="carousel-image" src="../static/images/Direct_Normal_Irradiation_Map.png"
                             alt="Direct Normal Irradiation Map">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-8 carousel-image">
                        <img class="carousel-image" src="../static/images/Global_Horizontal_Irradiation_Map.png"
                             alt="Global Horizontal Irradiation Map">
                    </div>
                    <div class="col-md-4">
                        <br>
                        <h2 class="display-4">Global Horizontal Irradiation Map. <span class="text-muted"
                                                                                       style="font-size: xx-large"><br>Plan your solar projects with confidence using our comprehensive GHI resource.</span>
                        </h2>
                        <br>
                        <p class="gradient-text"
                           style="font-size: x-large; background-image: linear-gradient(90deg, lightgreen 0%, darkgreen 100%);">
                            De-risk your solar investments with our global GHI map - pinpoint high-yield locations.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4">
                        <br>
                        <h2 class="display-4">Photovoltaic Power Potential Map. <span class="text-muted"
                                                                                      style="font-size: xx-large"><br>Gain the intelligence you need to make strategic solar investments.</span>
                        </h2>
                        <p class="gradient-text"
                           style="font-size: x-large; background-image: linear-gradient(90deg, darkblue 0%, deepskyblue 100%);">
                            Support renewable energy initiatives with strategic planning based on our photovoltaic map.
                            Identify areas for solar power development and promote sustainability.</p>
                    </div>
                    <div class="col-md-8 carousel-image">
                        <img class="carousel-image" src="../static/images/Photovoltaic_Power_Potential_Map.png"
                             alt="Photovoltaic Power Potential Map">
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

{% endblock %}