<link rel="stylesheet" href="../static/css/loginstyle.css">
<script src="../static/js/login.js" defer></script>
{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block body %}
    {% include 'errorflashmessage.html' %}
    <div class="text-center mt-5">

        <h2>Solar Offset Login Form</h2>
    </div>
    <div class="login-form">
        <form action="login" method="post">
            <div class="mb-3 mt-5">
                <label for="emailusrname" class="form-label">Email/Username: </label>
                <input type="text" id="emailusrname" name="emailusrname" class="form-control" autofocus
                       placeholder="Enter email/username">
            </div>
            <div class="mb-3" id="passwordfield">
                <label for="password" class="form-label">Password: </label>
                <input type="password" id="password" name="password" class="form-control" autofocus
                       placeholder="Enter password">
                <div>New User? <a href="/register" target="_blank">Sign Up</a></div>
            </div>
            <div class="mb-3 row">
                <div class="col-6 pr-1">
                    <button class="btn btn-success btn-block" type="submit">Login</button>
                </div>
                <div class="col-6 pl-1">
                    <button class="btn btn-outline-success btn-block" type="reset">Reset</button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}