{% extends 'base.html' %}

<!-- Title Section -->
{% block title %}Invitation{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home/home-style.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/home/home.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/solar-offset-calculator/solar-energy-offset-calculator.js') }}"
            defer></script>
{% endblock %}

{% block body %}
    <!-- Specific content for the referral page -->
    <div class="container">
        <h2>Invitation</h2>
        <p>{{ message }}</p>
        <!-- You can add more content here if needed -->
        <div class="bottom-button">
            <button type="button" class="btn btn-primary">Join now</button>
        </div>
        <!-- Image -->
        <img src="{{ url_for('static', filename='images/solar+map+of+UK+compressed.webp') }}" alt="Your Image" class="img-fluid mb-3" style="max-width: 100%; height: fit-content;">
    </div>
{% endblock %}


