{% extends 'base.html' %}

{% block title %}Country List{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/projectsstyle.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/misc/custom-indicators.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/misc/custom-badges.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/sorting.js') }}" defer></script>
{% endblock %}

{% macro badge_horizontal(h_badge_text, h_badge_icon, h_badge_value, h_badge_unit=None, prepend_unit=False) -%}
    <span class="badge-icon-text">
        <span>
            <span>{{ h_badge_text }}</span>
            <span><i class="bi bi-{{ h_badge_icon }}"></i></span>
        </span>
        {%- if not h_badge_unit %}
        <span>{{ h_badge_value | default('-/-') }}</span>
        {%- elif prepend_unit -%}
        <span>{{ h_badge_unit }} {{ h_badge_value | default('-/-') }}</span>
        {%- else -%}
        <span>{{ h_badge_value | default('-/-') }} {{ h_badge_unit }}</span>
        {%- endif %}
    </span>
{%- endmacro %}

{% macro badge_vertical(v_badge_text, v_badge_value, v_badge_unit=None, prepend_unit=False) -%}
    <div class="badge-vertical">
        {%- if not v_badge_unit %}
        <div class="badge-vertical-val">{{ v_badge_value | default('-/-') }}</div>
        {%- elif prepend_unit -%}
        <div class="badge-vertical-val">{{ v_badge_unit }} {{ v_badge_value | default('-/-') }}</div>
        {%- else -%}
        <div class="badge-vertical-val">{{ v_badge_value | default('-/-') }} {{ v_badge_unit }}</div>
        {%- endif %}
        <div style="padding: 0 1em;">v_badge_text</div>
    </div>
{%- endmacro %}

{% macro badge_vertical(v_badge_text, v_badge_value, v_badge_unit=None, prepend_unit=False) -%}
    <div class="badge-vertical">
        {%- if not v_badge_unit %}
        <div class="badge-vertical-val">{{ v_badge_value | default('-/-') }}</div>
        {%- elif prepend_unit -%}
        <div class="badge-vertical-val">{{ v_badge_unit }} {{ v_badge_value | default('-/-') }}</div>
        {%- else -%}
        <div class="badge-vertical-val">{{ v_badge_value | default('-/-') }} {{ v_badge_unit }}</div>
        {%- endif %}
        <div style="padding: 0 1em;">{{ v_badge_text }}</div>
    </div>
{%- endmacro %}

{% block body %}
<div class="main-content-centered">

    <div style="display: flex;">
        <h2>Country List</h2>
        <div sorting-hidden="flex" style="margin-left: auto; display: none;">
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    sort by: <span sorting-current="country-list"></span>
                </button>
                
                <ul class="dropdown-menu">
                    <li><button class="dropdown-item" sorting-option="country-list" sorting-key="carbon-offset">carbon offset</button></li>
                    <li><button class="dropdown-item" sorting-option="country-list" sorting-key="daily-sun">avg daily sunlight</button></li>
                    <li><button class="dropdown-item" sorting-option="country-list" sorting-key="carbon-emiss">country carbon emissions</button></li>
                    <li><button class="dropdown-item" sorting-option="country-list" sorting-key="panel-price">solar panel price</button></li>
                    <li><button class="dropdown-item" sorting-option="country-list" sorting-key="solar-mix">solar in electricty mix</button></li>
                    <li><button class="dropdown-item" sorting-option="country-list" sorting-key="population">country population</button></li>
                    <li><button class="dropdown-item" sorting-option="country-list" sorting-key="name">country name</button></li>
                </ul>
            </div>
            <button class="btn btn-outline-secondary" style="height: 2.375em; margin-left: 0.5em;" sorting-direction="country-list" sorting-direction-default="desc">
                <span sorting-asc><i class="bi bi-sort-up"></i> asc</span><span sorting-desc><i class="bi bi-sort-down"></i> desc</span>
            </button>
        </div>
    </div>

    {% if countries %}
    <ul class="no-bullet vgap-1" sorting-target="country-list">



        {% for country in countries %}
        <li class="framed project">
            <span hidden sorting-key="carbon-offset">{{ country.carbon_offset_per_panel_kg | default('0') }}</span>
            <span hidden sorting-key="daily-sun"    >{{ country.avg_solar_hours            | default('0') }}</span>
            <span hidden sorting-key="carbon-emiss" >{{ country.carbon_emissions           | default('0') }}</span>
            <span hidden sorting-key="panel-price"  >{{ country.solar_panel_price          | default('0') }}</span>
            <span hidden sorting-key="solar-mix"    >{{ country.electricity_mix_percentage | default('0') }}</span>
            <span hidden sorting-key="population"   >{{ country.population_size.val        | default('0') }}</span>
            <span hidden sorting-key="name"         >{{ country.name                       | default('0') }}</span>

            <div style="display: flex;">
                <div>
                    <a style="color:inherit;" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
                        href="{{ url_for('householder.country', country_code=country.country_code) | lower }}"><h3>
                        {% if country.short_code %}
                        <!-- Taken from https://flagpedia.net/download/api -->
                        <img src="https://flagcdn.com/h40/{{country.short_code | lower}}.png" 
                            srcset="https://flagcdn.com/h80/{{country.short_code | lower}}.png 2x"
                            height="40"
                            alt="{{country.name}} Flag Icon">
                        {% endif %}
                        {{ country.name }}
                    </h3></a>
                </div>
                <div style="margin-left: auto;" class="fit-tight text-center">
                    <div style="display: flex;">
                        <div style="margin: auto 0.5em;">
                            <table class="table-carbon-data">
                                {% if country.solar_panel_percent_footprint %}
                                <tr class="sep-bottom"> <td>Carbon Footprint Reduction</td> <td><b>{{ country.solar_panel_percent_footprint }} %</b></td> </tr>
                                {% endif %}
                                <tr> <td>Carbon Offset</td> <td><b>{{ country.carbon_offset_per_panel_kg }} kg</b></td>   </tr>
                            </table>
                            <div style="text-align: right;"><i>Per Solar Panel</i></div>
                        </div>
                        <div class="signal-wrapper {{country.signal_color}}" style="margin-left: auto; font-size: 125%;"
                            title="Relative ranking of country's Carbon Offset&#10;Compared to other countries&#10;Green -> Top 30% highest offset&#10;Amber -> Midfield&#10;Red -> Bottom 30% offset">
                            <div class="signal r"></div>
                            <div class="signal a"></div>
                            <div class="signal g"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="display: flex; flex-wrap: wrap;">
                {{ badge_horizontal('average daily sunlight',          'sun',         country.avg_solar_hours,                 'h') }}
                {{ badge_horizontal('yearly carbon emissions',         'clouds',      country.carbon_emissions / 1000000.0,    'Mt') }}
                {{ badge_horizontal('solar panel price',               'cash-coin',   country.solar_panel_price,               '£', prepend_unit=True) }}
                {{ badge_horizontal('solar energy in electricity mix', 'plug',        country.electricity_mix_percentage *100, '%') }}
                {{ badge_horizontal('population size',                 'person-fill', country.population_size.val_format,      country.population_size.unit) }}
            </div>

            <div style="display: flex;">
                <div>
                    <ul class="list-inline">
                        <li>
                            {{ badge_vertical('Donations Made', country.donation_count, v_badge_unit=None, prepend_unit=False) }}
                        </li>
                        <li>
                            {{ badge_vertical('Solar Funds Raised', country.donation_sum, v_badge_unit='£', prepend_unit=True) }}
                        </li>
                    </ul>
                </div>
                <div style="display:flex; margin-left: auto;">
                    <a style="margin-top: auto;" class="btn btn-outline-primary" href="{{ url_for('householder.country', country_code=country.country_code) | lower }}" role="button">Donate Now</a>
                </div>
            </div>

        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}