{% extends 'base.html' %}

{% block title %}Country List{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/projectsstyle.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/misc/custom-indicators.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/misc/custom-badges.css') }}">
{% endblock %}

{% block body %}
<div class="main-content-centered">
    <h2>Country List</h2>
    {% if countries %}
    <ul class="no-bullet vgap-1">
        {% for country in countries %}
        <li class="framed project">
            <div style="display: flex;">
                <div>
                    <a style="color:inherit;" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
                        href="{{ url_for('householder.country', country_code=country.country_code) | lower }}"><h3>
                        {% if country.short_code %}
                        <!-- Taken from https://flagpedia.net/download/api -->
                        <img src="https://flagcdn.com/h40/{{country.short_code | lower}}.png" 
                            srcset="https://flagcdn.com/h80/{{country.short_code | lower}}.png 2x"
                            height="40"
                            alt="{{country.name}} Flag Icon">
                        {% endif %}
                        {{ country.name }}
                    </h3></a>
                </div>
                <div style="margin-left: auto;" class="fit-tight text-center">
                    <div style="display: flex;">
                        <div style="margin: auto 0.5em;">
                            <table class="table-carbon-data">
                                {% if country.solar_panel_percent_footprint %}
                                <tr class="sep-bottom"> <td>Carbon Footprint Reduction</td> <td><b>{{ country.solar_panel_percent_footprint }}%</b></td> </tr>
                                {% endif %}
                                <tr> <td>Carbon Offset</td> <td><b>{{ country.carbon_offset_per_panel_kg }}kg</b></td>   </tr>
                            </table>
                            <div style="text-align: right;"><i>Per Solar Panel</i></div>
                        </div>
                        <div class="signal-wrapper {{country.signal_color}}" style="margin-left: auto; font-size: 125%;"
                            title="Relative ranking of country's Carbon Offset&#10;Compared to other countries&#10;Green -> Top 30% highest offset&#10;Amber -> Midfield&#10;Red -> Bottom 30% offset">
                            <div class="signal r"></div>
                            <div class="signal a"></div>
                            <div class="signal g"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-wrap: wrap;">
                <span class="badge-icon-text">
                    <span>
                        <span>average daily sunlight</span>
                        <span><i class="bi bi-sun"></i></span>
                    </span>
                    <span>{{ country.avg_solar_hours if country.solar_hours != None else "-/-" }} h</span>
                </span>
                <span class="badge-icon-text">
                    <span>
                        <span>yearly carbon emissions</span>
                        <span><i class="bi bi-clouds"></i></span>
                    </span>
                    <span>{{ country.carbon_emissions / 1000000.0 if country.carbon_emissions != None else "-/-"}} Mt</span>
                </span>
                <span class="badge-icon-text">
                    <span>
                        <span>solar panel price</span>
                        <span><i class="bi bi-cash-coin"></i></span>
                    </span>
                    <span>£ {{ country.solar_panel_price if country.solar_panel_price != None else "-/-" }}</span>
                </span>
                <span class="badge-icon-text">
                    <span>
                        <span>solar energy in electricity mix</span>
                        <span><i class="bi bi-plug"></i></span>
                    </span>
                    <span>{{ country.electricity_mix_percentage *100 if country.electricity_mix_percentage != None else "-/-" }} %</span>
                </span>
            </div>
            <div style="display: flex">
                <div>
                    <ul class="list-inline">
                        <li>
                            <div class="badge-vertical">
                                <div class="badge-vertical-val">{{ country.donation_count if country.donation_count != None else 0 }}</div>
                                <div style="padding: 0 1em;">Donations Made</div>
                            </div>
                        </li>
                        <li>
                            <div class="badge-vertical">
                                <div class="badge-vertical-val">£{{ country.donation_sum if country.donation_sum != None else 0 }}</div>
                                <div>Solar Funds Raised</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div style="display:flex; margin-left: auto;">
                    <a style="margin-top: auto;" class="btn btn-outline-primary" href="{{ url_for('householder.country', country_code=country.country_code) | lower }}" role="button">Donate Now</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}