<link rel="stylesheet" href="../static/css/staff.css">
<link rel="stylesheet" href="../static/css/homestyle.css">

{% extends 'base.html' %}
<!-- Title Section -->
{% block title %}Staff DashBoard{% endblock %}

<!-- Body Section -->
{% block body %}

    {% include 'flashmessage.html' %}
    <div class="container">
        <div class="left-section mt-3">
            <h2>Welcome, {{ staffname }}</h2>
        </div>

        <div class="right-section">
            {% if countries %}
                <form action="/staff/report" method="POST">
                    <label for="country">Select Country:</label>
                    <select id="country" name="country" onchange="updateOrganizations()" class="mb-3 mr-2"></select>

                    <label for="organization" class="mt-2">Select Organization:</label>
                    <select id="organization" name="organization"></select>

                    <div class="mt-3">
                        <button class="btn btn-outline-success px-4 mr-2">
                            Generate
                        </button>
                        <button class="btn btn-outline-success px-4">Export
                        </button>
                    </div>
                </form>
                <script>
                    var countries = [
                        {% for country in countries %}
                            {
                                "name": "{{ country.name }}",
                                "country_code": "{{ country.country_code }}",
                                "organizations": "{{ country.org_name }}"
                            },
                        {% endfor %}
                    ];

                    function populateDropdown(selectId, options) {
                        var select = document.getElementById(selectId);
                        select.innerHTML = ""; // Clear existing options

                        for (var i = 0; i < options.length; i++) {
                            var option = document.createElement("option");
                            option.text = options[i];
                            option.value = options[i];
                            select.add(option);
                        }
                    }

                    function updateOrganizations() {
                        var countrySelect = document.getElementById("country");
                        var organizationSelect = document.getElementById("organization");
                        var selectedCountry = countrySelect.value;
                        let selectedCountryObjs = []
                        let organizationList = []
                        countries.forEach(country => {
                            let countryName = country.name
                            if (countryName == selectedCountry) {
                                selectedCountryObjs.push(country)
                            }
                        })
                        selectedCountryObjs.forEach(organization => {
                            let organizationName = organization.organizations
                            organizationList.push(organizationName)
                        })
                        populateDropdown("organization", organizationList);
                    }

                    // Populate the country dropdown initially
                    var countryNames = countries.map(country => country.name);
                    let uniqueCountries = new Set(countryNames)
                    let uniqueCountriesArr = [...uniqueCountries]
                    populateDropdown("country", uniqueCountriesArr);

                    // Update organizations when the country dropdown changes
                    updateOrganizations();
                </script>

            {% endif %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
{% endblock %}
