#loginbtns {
    margin-bottom: 5px;
}

body {
    overflow: hidden !important;
}

.gradient-text {
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 25px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;

}

#passwordfield i {
    right: 37%;
    bottom: 50%;
    font-size: 1.2rem;
    color: #999;
    cursor: pointer;
    position: absolute;
}