.register-form {
    width: 100%;
    max-width: 400px;
    padding: 25px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 5px;
}

.gradient-text {
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;
}