body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container-flex {
    margin: 1em auto;
    padding: 1em;
}

.container-flex .c-shadow {
    padding: 1em;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    background-color: #f9f9f9;
}

.container-shadow {
    margin: 3em auto;
    padding: 1em;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.stat {
    width: 30%;
    /* flex-basis: 30%; */
    background-color: #fff;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.stat h3 {
    margin-top: 0;
}

.stat p {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
}

/* table.carbon-data td {
    border: 0;
} */
/* table.carbon-data td+td {
    padding-left: 0.5em;
} */
table.carbon-data tr td:nth-child(2) {
    font-weight: bold;
}
table.carbon-data tr.topline-thick td {
    border-top: 0.08em solid;
}
table.carbon-data tr.large td {
    font-size: 1.4em;
}
