#loginbtns {
    margin-bottom: 5px;
}

body {
    background-image: url("../images/solar_offset_login_page.jpeg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 25px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 5px;

}

#passwordfield i {
    right: 37%;
    bottom: 50%;
    font-size: 1.2rem;
    color: #999;
    cursor: pointer;
    position: absolute;
}