{% extends 'base.html' %}

{% block title %}Country List{% endblock %}

{% block body %}
<h2>Country List</h2>
{% if countries %}
<ul>
    {% for country in countries %}
    <li>
        <div>
            <h3>
                {% if country.short_code %}
                <!-- Taken from https://flagpedia.net/download/api -->
                <img src="https://flagcdn.com/h24/{{country.short_code | lower}}.png" 
                    srcset="https://flagcdn.com/h48/{{country.short_code | lower}}.png 2x"
                    height="24"
                    alt="{{country.name}} Flag Icon">
                {% endif %}
                {{ country.name }}
            </h3>
        </div>
        <div>
            <ul>
                <li><span>Hours of Sun Per Year</span>: <span>{{ country.solar_hours }}</span></li>
                <li><span>Carbon Emissions Per Year [tons]</span>: <span>{{ country.carbon_emissions }}</span></li>
                <li><span>Solar Panel Price (estimate)</span>: <span>{{ country.solar_panel_price }}</span></li>
                <li><span>Electricty Mix Percentage</span>: <span>{{ country.electricty_mix_percentage }}</span></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><span>0</span> <span>Donations Made</span></li>
                <li><span>£0</span> <span>Funds Raised</span></li>
            </ul>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}