<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_base.css') }}">
    <script src="../static/js/householderdashboard.js" defer></script>
    <title>HouseHolder DashBoard</title>
</head>
<body>
{% include 'flashmessage.html' %}
<div class="text-center">
    <h2>Welcome to Solar Offset Householder Dashboard: {{ username }}</h2>

    <button onclick="location.href='/login'" class="btn btn-success">Logout</button>
</div>
<script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>